@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: 'Montserrat', sans-serif !important;
}

/* antd overriding */

input {
  border-radius: 2px !important;
  border: 1px rgba(128, 128, 128, 0.714);
  height: 40px !important;
}

input:focus {
  outline: none !important;
  box-shadow: none !important;
  border: 1px solid gray;
}

label {
  font-size: 16px !important;
  color: black;
}

.ant-form-item {
  margin : 10px 0 !important;

}

/* common styling */

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.normal-text {
  font-size: 1rem;
}

.card {
  box-shadow: 0 0 2px rgb(109, 155, 255);
  border-radius: 0 !important;
}

.primary-button {
  background-color: rgb(7, 5, 112) !important;
  border-color: rgb(189, 221, 189) !important;
  height : 40px !important;
  width: 100% !important;
  color:white !important;
  font-size: 16px !important;
}

.anchor {
  color : black !important;
  text-decoration: underline;
  font-size: 16px !important;
}

.anchor-hover {
  text-decoration: underline !important;
}

/* authentication pages */

.authentication {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(157, 190, 255);
}

.authentication-form {
  width: 400px;
}

.authentication .card-title {
  font-size: 1.5rem;
  text-align: center;
  justify-content: center;
  font-weight: bold;
  background-color: rgb(37, 121, 239);
  color: white !important;
  max-width: max-content !important;
  padding: 7 15px;
  margin-left: -40px;
  border-bottom-left-radius: 10px; 
}